[default]
batch = 1
#proxy = 194.145.60.1:9400
totaltimeout = 5 # To avoid infinite polling
trusted = root.crt
cert = signer.crt
key  = signer.p12
keypass = pass:12345
newkey = test.ECC256p.pem
newkeypass = pass:
cmd = ir
out_trusted = root.crt
certout = test.cert.pem
policies = 1.2.3.4 # gets ignored
policies_critical = 1 # gets ignored

############################# CA configurations

[EJBCA]
server = ec2-204-236-244-127.compute-1.amazonaws.com:80
path = /ejbca/publicweb/cmp/ECCEndEntity
recipient = /CN=ECC Issuing CA v10/OU=For test purpose only/O=CMPforOpenSSL/C=DE
subject = "/CN=ECC-EE/OU=For test purposes only/O=CMPforOpenSSL/C=DE"
pbm_secret = pass:SecretCmp
ignore_keyusage = 0
unprotectederrors = 1 # EJBCA sends error messages and negative responses without protection
column = 0
sleep = 0

[Insta]
server = pki.certificate.fi:8700
path = pkix/
recipient = /C=FI/O=Insta Demo/CN=Insta Demo CA
subject = /C=FI/O=Insta Demo/CN=ECC-EE
pbm_secret = pass:insta
ref = 3078
secret = $pbm_secret
key =
cert =
ignore_keyusage = 1
unprotectederrors = 0
column = 1
sleep = 2

[CmpWsRa] # this is a Siemens-only test configuration
server = localhost:9080
path = cmp/PlaygroundECC/
recipient = /CN=PPKI Playground ECC Issuing CA/OU=Corporate Technology/OU=For internal test purposes only/O=Siemens/C=DE
subject = /CN=ECC-EE/OU=PPKI Playground/OU=Corporate Technology/OU=For internal test purposes only/O=Siemens/C=DE
pbm_secret = pass:SecretCmp
ignore_keyusage = 0
unprotectederrors = 1 # EJBCA sends error messages and negative responses without protection
column = 0
sleep = 0

############################# aspects

[connection]
msgtimeout = 10
totaltimeout =
tls_used =
tls_cert =
tls_key =
tls_keypass =
tls_trusted =
tls_host =

[credentials]
ref =
secret =
certkey =
keypass =
extracerts =
geninfo =
digest =
unprotectedrequests =
cert =
key =

[verification]
recipient =
expected_sender =
srvcert =
trusted =
untrusted =
unprotectederrors =
extracertsout =

[tls]
server =
tls_used =
tls_cert =
tls_key =
tls_keypass =
tls_trusted =
tls_host =

[commands]
cmd =
cacertsout =
newkey =
newkeypass =
subject =
issuer =
days =
reqexts =
#popo =
implicitconfirm =
disableconfirm =
certout =
out_trusted =
oldcert =
csr =
revreason =
infotype =

############################# extra cert template contents

[reqexts]
basicConstraints = CA:FALSE
#basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature # keyAgreement, keyEncipherment, nonRepudiation
extendedKeyUsage = critical, clientAuth # serverAuth, codeSigning
#crlDistributionPoints = URI:http:
# authorityInfoAccess = URI:http:
subjectAltName = @alt_names

[alt_names]
DNS.0 = localhost
IP.0 = 127.0.0.1
IP.1 = 192.168.1.1

[reqexts_invalidkey]
subjectAltName = @alt_names_3

[alt_names_3]
DNS.0 = localhost
DNS.1 = example.com
DNS.2 = example2.com
DNS__3 = example3.com
