Source: cmpossl
Section: libs
Priority: optional
Maintainer: David von Oheimb <David.von.Oheimb@siemens.com>
Build-Depends: autotools-dev, libssl-dev, pkg-config, debhelper (>= 9)
Standards-Version: 4.0.0
Homepage: https://github.com/mpeylo/cmpossl

Package: libcmp
Architecture: any
Depends: openssl, ${misc:Depends}, ${shlibs:Depends}
Description: Certificate Management Prototocl (CMP) library
 CMP as standalone library based on OpenSSL

Package: libcmp-dev
Section: libdevel
Architecture: all
Depends: libcmp, ${misc:Depends}
Description: cmp library development headers
 only needed for development

